{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<barre-navigation></barre-navigation>

    <h1>Créer votre Personnage</h1>
    <div class="d-flex justify-content-center">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            <div class="d-grid">
                <button type="submit" class="btn btn-outline-dark ">Register</button>
            </div>
        {{ form_end(registrationForm) }}

    </div>

  
{% endblock %}
