
{{ form_start(form, { 'attr' : {'id': 'personnageForm' , 'class' : 'persoForm'}}) }}
    <div class="start">

        {{ form_row(form.nom)}}
        {{ form_row(form.classe)}}
        {{ form_row(form.origine)}}
        {{ form_row(form.vocation)}}
    </div>
    <div class="main-content">

    
        <div class="left">
            {% if form.Admiration is defined %}
                
                <div class="left-content">
                    {{ form_row(form.Admiration ,{ 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Athletisme, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Conscience, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Exploration, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Chant, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Artisanat, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Inspiration, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Voyage, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Perspicacite, { 'attr': {'class': 'mb-3'}})}}
                </div>
                <div class="right-content">
                    {{ form_row(form.Guerison, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Courtoisie, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Combat, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Persuasion, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Furtivite, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Fouille, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Chasse, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Enigmes, { 'attr': {'class': 'mb-3'}})}}
                    {{ form_row(form.Conaissances, { 'attr': {'class': 'mb-3'}})}}
                </div>
            {% endif %}
        </div>

        <div class="midle">
            {% if form.armes is defined %}
                <div class="right-content">
                    {{ form_row(form.armes)}}
                    {{ form_row(form.specialites1)}}
                    {{ form_row(form.specialites2)}}
                </div>
                <div class="left-content">
                    {{ form_row(form.attributCorps)}}
                    {{ form_row(form.standard_de_vie)}}
                    {{ form_row(form.avantage_culturel)}}
                </div>
            {% endif %}
        </div>

        <div class="right">
            {% if form.Particularite is defined %}
            <div class="right-content">
                {{ form_row(form.Particularite)}}
            </div>
            <div class="left-content">
                {{ form_row(form.competence_favorite)}}
                {{ form_row(form.corps)}}
                {{ form_row(form.coeur)}}
                {{ form_row(form.attributCoeur)}}
                {{ form_row(form.esprit)}}
            </div>
            {% endif %}
            
        </div>
    </div>
    <div class="end">
    <input type="hidden" name="_personnage_id" id="perso_id" value="{{personnage.id }}">
        <button class="validation" id="generate" type="submit" name="_valid" value="1">{{ button_label|default('Enregistrer') }}</button>

    </div>
{{ form_end(form) }}
