{% extends 'base.html.twig' %}

{% block title %}Nouvelle Partie{% endblock %}

{% block body %}
<div class="replaceAjaxContent">
<div class="footer">
    <h1 class="title-party">Nouvelle partie</h1>

    <h2 class="name-game-master">Game master: {{app.user.pseudo}}</h2> 
      <div class="d-flex justify-content-center">
        {{ include('partie/_form.html.twig') }}
      </div>
    
    {% if id_partie != 'null'  %}
        <input type="hidden" id="partieNumber" value="{{id_partie}}"> 
        <h1 class="name-game-title">{{ partie.nom}}</h1>

        <form  class="form-new-party" method="post"   action="{{path('app_partie_en_cours', {'id': partie.id})}}">
    
            <table class="table">
                <tbody>
                   
                        <h2 class="players-choice">Joueurs choisis</h2>        

                    
                        {% for joueurs in partie.Joueurs %}
                            <tr>
                                <th class="players-game-choice">{{joueurs.pseudo}}</th>
                                
                                <td>
                                <i class="test-back"> </i>
                                    <button class="button-new-perso"><a href="{{ path('personnage_new', {'id': joueurs.id, 'partie_id':partie.id}) }}">Nouveau personnage</a></button>
                                </td>
                                <td>
                                    {% for personnages in joueurs.personnages %}  
                                                <span>Personnage(s) existant(s)</span>   
                                                <input class="input-perso-name" type="radio" id="{{personnages.id}}" name="{{joueurs.id}}" value="{{personnages.id}}">
                                                <label for="{{personnages.id}}">{{personnages.nom}} - ({{personnages.classe}})
                                                {% if (personnages.classe == "Elfes de la Forêt Noire")%}
                                                    <img class="img-perso-party" src="https://cdn.discordapp.com/attachments/968448853160386591/969259731266973786/image_49_3.png">
                                                {% elseif (personnages.classe == "Bardides") %}
                                                    <img class="img-perso-party" src="https://cdn.discordapp.com/attachments/968448853160386591/969259986502950943/image_49_5.png">
                                                {% elseif (personnages.classe == "Beornides") %}
                                                     <img class="img-perso-party" src="https://cdn.discordapp.com/attachments/968448853160386591/969259323454803988/image_49_1.png">
                                                {% elseif (personnages.classe == "Nains du Mont Solitaire") %}
                                                    <img class="img-perso-party" src="https://cdn.discordapp.com/attachments/968448853160386591/969259869385424966/image_49_4.png">
                                                 {% elseif (personnages.classe == "Hobbits de la Comté") %}  
                                                    <img class="img-perso-party" src="https://cdn.discordapp.com/attachments/968448853160386591/969251742472601700/image_49.png">
                                                {% elseif (personnages.classe == "Hommes des Bois des Terres Sauvages") %}
                                                    <img class="img-perso-party" src="https://cdn.discordapp.com/attachments/968448853160386591/969259529319616542/image_49_2.png">
                                                {% endif %}
                                                </label>                               
                                    {% endfor %}
                                </td>
                        </tr>
                        {% endfor %}
                    
                </tbody>
            </table>
            <button class="button-validate-party" type="submit">Valider la partie</button>
        </form>
            
    {% endif %}
</div>
</div>
<script></script>
{% endblock %}
