
{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="bigContent">
 {#  <div class="side">
    
      <button id="persoShow" class="btn personnage">Personnages</button>
 
      <button id="amieShow" class="btn amie">Amie</button>
      
      <button id="partieShow" class="btn partie">Partie</button>
    
  </div> #}
  

  <div class="content">
    <div  class="contentPseudo">
    <div  class="headerProfil">
      <div class="fond">
        <div class="image">
            <img src="http://www.dicemonkey.net/wp-content/uploads/2018/06/DNpHWW_XkAY18Lq.jpg" alt="fond"/>
        </div>
        <div class="text">
            
            <h1>{{ app.user.pseudo }}</h1>
              <div>
                nombre de parties jouées au total: {{app.user.parties|length}}
              </div>
        </div> 
      </div>
    </div>

    
      <div id="personnage" class="contentPerso">
        <div class="title-perso">
          <h3>Personnages </h3> 
        </div>
        <div class="containerPerso">
        {% for personnages in app.user.personnages %}
          
            <div class="Perso">
                {#  <a href="{{ path('personnage_show', {'id': personnages.id} ) }}">Voir la fiche complète du personnage</a> #}
                 {% if (personnages.classe == "Elfes de la Forêt Noire")%}
                    <div class="content-img"><img class="img-perso-party" src="https://cdn.discordapp.com/attachments/968448853160386591/969259731266973786/image_49_3.png"></div>
                 {% elseif (personnages.classe == "Bardides") %}
                    <div class="content-img"><img class="img-perso-party" src="https://cdn.discordapp.com/attachments/968448853160386591/969259986502950943/image_49_5.png"></div>
                 {% elseif (personnages.classe == "Beornides") %}
                    <div class="content-img"><img class="img-perso-party" src="https://cdn.discordapp.com/attachments/968448853160386591/969259323454803988/image_49_1.png"></div>
                 {% elseif (personnages.classe == "Nains du Mont Solitaire") %}
                    <div class="content-img"><img class="img-perso-party" src="https://cdn.discordapp.com/attachments/968448853160386591/969259869385424966/image_49_4.png"></div>
                 {% elseif (personnages.classe == "Hobbits de la Comté") %}  
                    <div class="content-img"><img class="img-perso-party" src="https://cdn.discordapp.com/attachments/968448853160386591/969251742472601700/image_49.png"></div>
                 {% elseif (personnages.classe == "Hommes des Bois des Terres Sauvages") %}
                    <div class="content-img"><img class="img-perso-party" src="https://cdn.discordapp.com/attachments/968448853160386591/969259529319616542/image_49_2.png"></div>
                 {% endif %}
                <div>nom personnage : {{personnages.nom }}</div>
                <div>class : {{personnages.classe }}</div> 
                <div>Parties jouées: {{personnages.partie|length}}</div>
                <div> <button class="newPerso"><a target='_blank' href="{{ path('personnage_generate_fiche', {'id': personnages.id} ) }}">Voir la fiche complète du personnage</a></button></div>
            </div>
          
        {% endfor %}
        </div>
        <div class"btnNewPerso">
          <button class="newPerso"><a href="{{ path('personnage_new') }}">Créer un nouveau personnage</a></button>
        </div>
      </div>
     
    </div>
   {#  <div id="partie" class="contentPartie">
        <div>
          nombre de parties jouées au total: {{app.user.parties|length}}
        </div>
        <div>
          <button class="newPartie"><a href="{{ path('app_partie_new') }}">Créer une nouvelle partie</a></button> 
        </div>   
    </div>


    <div id="amie" class="contentAmie">
      <div class="contentAddFriend">
        <h3>Ajouter un ami:</h3>  
          {{form_start(form, {'action': path('app_user_show', {'id': app.user.id}), 'method': 'POST'})}}
          {{ form_row(form) }}
          <button type="submit">Rechercher</button>
          {{ form_end(form) }}

          {% set deja_ami = null %} 

        {% if joueur_recherche != 'null'%} {#  Si il y a une recherche de pseudo #}   
              {# {% if joueur_recherche and joueur_recherche.pseudo != app.user.pseudo  %}  {# Si le pseudo existe et est différent de celui du user #}
                {# <b>{{joueur_recherche.pseudo}}</b>
                {% for amis in app.user.amities %}
                    {% if amis.Ami2.id == joueur_recherche.id %}
                      {% set deja_ami = true %}
                    {% endif %} 
                {% endfor %}
                
                {% if deja_ami %}
                  Vous etes déjà amis !
                {% else %}
                  <button>
                    <a href="{{ path('app_user_show', {'id': user.id, 'joueur_ami':joueur_recherche.id}) }}">
                      Ajouter
                    </a>
                  </button>
                {% endif %} 
              {% else %}
                Pas de joueur trouvé
              {% endif %}
        {% endif %} #}
    {# </div> #} 


     {# <div class="contentFriends"> 
        <h3>Mes amis:</h3>
        <div class="contentFriend">

          <ul> 
          {% for amis in app.user.amities %}
            <div class="friend">
              <li>pseudo : {{ amis.ami2.pseudo }}</li>
            </div>
          {% endfor %}
          </ul>
        </div> 
      </div> #}
     </div> 
  </div>
{% endblock %}
