
{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

  <div class="bigContent">
    <div class="side"> 
        <button id="persoShow" class="btn personnage">Personnages</button>      
        <button id="partieShow" class="btn partie">Partie</button> 
    </div>

    <div class="content">
      <div  class="contentPseudo">
        <h1>{{ app.user.pseudo }}</h1>
        <div id="personnage" class="contentPerso">
          <div class="title-perso">
            <h3>Personnages </h3> 
          </div>
          <div class="containerPerso">
            {% for personnages in app.user.personnages %}
              <div class="Perso">
                  <a href="{{ path('personnage_generate_fiche', {'id': personnages.id} ) }}">Voir la fiche complète du personnage</a>
                  <div>nom personnage : {{personnages.nom }}</div>
                  <div>class : {{personnages.classe }}</div> 
                  <div>Parties jouées: {{personnages.partie|length}}</div>
              </div>
            {% endfor %}
          </div>
         
          <div class"btnNewPerso">
            <button class="newPerso"><a href="{{ path('personnage_new') }}">Créer un nouveau personnage</a></button>
          </div>
        </div>
      </div>
      <div id="partie" class="contentPartie">
          <div>
            nombre de parties jouées au total: {{app.user.parties|length}}
          </div>
          <div>
            <button class="newPartie"><a href="{{ path('app_partie_new') }}">Créer une nouvelle partie</a></button> 
          </div>   
      </div>
    </div>
  </div>
{% endblock %}
